body {
  background: linear-gradient(
    165deg,
    hsl(235, 85%, 11%),
    hsl(269, 16%, 35%),
    hsl(266, 20%, 51%),
    hsl(266, 24%, 68%),
    hsl(270, 12%, 93%)
  );
  background-repeat:repeat;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
